html {
  font-size: 14px;
}

@media (min-width: 768px) {  
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.img-profile{
    height: 200px;
    width: 100%;
}
.row{
    flex-wrap:nowrap;
}
.form-switch .form-check-input{
    width: 50px;
    height: 30px;
}
.form-switch .checkbox-label-margin{
    margin-left: 10px;
    margin-top: 6px;
}
.cursor-pointer {
    cursor: pointer;
}
.float-center {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 64px;
    background: #F28C28;
    height:140px;
    width:
}
.border-radius {
    border-radius: 15px;
}
.btn-roll {
    height: 100px;
    background-color: whitesmoke;
    border: none;
    color: black;
    display: inline-flex;
    align-items: center;
}
.btn-end{
    float:right;
}
textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
table {
    width: 100%;
}

.card-custom {
    background-color: whitesmoke;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 10px 10px 10px 10px;
}
.card-custom:hover {
    background-color: #F5F5F5;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

.p-left{
    padding-left: 0px!important;
}

.bi {
    font-size: 30px;
}
.bi-lg {
    font-size: 40px;
}
.bi-plus {
    font-size: 32px;
    padding: 0px;
    border: none;
}
.bi-search {
    font-size: 20px;
}
.bi-person-circle {
    color: rgba(0,0,0,.55);
}

.bi-person-circle:hover {
    color: rgba(0,0,0,.7);
}


.social-icon .bi {
    margin: 10px 10px 0px 0px;
}
.social-icon .bi-facebook {
    color: #4267B2;
}
.social-icon .bi-instagram {
    color: #E1306C;
}
.social-icon .bi-twitter {
    color: #1D9BF0;
}
.social-icon .bii-github {
    color: #333;
}
.social-icon .bi-youtube {
    color: #ff0000;
}
.social-icon .bi-linkedin {
    color: #0A66C2;
}
.social-icon .bi-facebook {
    color: #4267B2;
}



.wrapper .button {
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 10px;
    overflow: hidden;
    background: #F5F5F5;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover {
    width: 200px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.wrapper .btn-addIcon:hover {
    width: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.wrapper .button .icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.3s ease-out;
}
.wrapper .btn-facebook .icon{
    background: #4267B2;
}
.wrapper .btn-instagram .icon {
    background: #E1306C;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.wrapper .btn-twitter .icon {
    background: #1D9BF0;
}
.wrapper .btn-github .icon {
    background: #333;
}
.wrapper .btn-youtube .icon {
    background: #ff0000;
}
.wrapper .btn-linkedin .icon {
    background: #0A66C2;
}
.wrapper .btn-addIcon .icon {
    background: #F28C28;
}
.wrapper .btn-addIcon:hover .icon {
    background: #CC5500;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-out;
}
.wrapper .button .icon i{
    color: #fff;
}
.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .btn-facebook:hover span{
    color: #4267B2;
}
.wrapper .btn-instagram:hover span {
    color: #E1306C;
}
.wrapper .btn-twitter:hover span {
    color: #1D9BF0;
}
.wrapper .btn-github:hover span {
    color: #333;
}
.wrapper .btn-youtube:hover span {
    color: #ff0000;
}
.wrapper .btn-linkedin:hover span {
    color: #0A66C2;
}


.wrapper-reference .button {
    display: inline-block;
    min-height: 60px;
    width: 100%;
    float: left;
    overflow: hidden;
    background: #DBDCDE;
    border-radius: 30px;
    cursor: pointer;
}
.wrapper-reference .btn-reference {
    text-align:center;
    padding: 12px;
}
.wrapper-reference .btn-reference .pre-wrap {
    white-space: pre-wrap;
}
.wrapper-reference .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper-reference .btn-addReference .icon {
    background: #FF5F1F;
}
.wrapper-reference .button .icon i {
    font-size: 25px;
}
.wrapper-reference .button .icon {
    background: #F28C28;
}
.wrapper-reference .button:hover .icon {
    background: #CC5500;
}
.wrapper-reference .button .icon i {
    color: #fff;
}
.wrapper-reference .button span {
    font-size: 20px;
    font-weight: 500;
}
.wrapper-reference .button p {
    margin-bottom:0;
}
.wrapper-reference .button:hover {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}


.wrapper-reference .button-icon {
    display: inline-block;
    min-height: 50px;
    width: 50px;
    float: left;
    margin: 0 10px;
    overflow: hidden;
    background: #DBDCDE;
    border-radius: 30px;
    cursor: pointer;
}
.wrapper-reference .button-icon .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 50px;
}
.wrapper-reference .delete .icon {
    background: #D2042D;
}
.wrapper-reference .edit .icon {
    background: #F28C28;
}
.wrapper-reference .button-icon .icon i {
    font-size: 25px;
}
.wrapper-reference .edit:hover .icon {
    background: #CC5500;
}
.wrapper-reference .delete:hover .icon {
    background: #8B0000;
}
.wrapper-reference .button-icon .icon i {
    color: #fff;
}
.wrapper-reference .button-icon:hover {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.wrapper-image {
    position: relative;
    cursor:pointer;
}
.wrapper-image .button-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
}
.wrapper-image .button-icon .icon {
    color: rgba(0,0,0,.55);
    font-size: 100px;
    position: absolute;
    margin:0;
    bottom: 55%;
    left: 90%;
}
.wrapper-image:hover .button-icon .icon {
    color: rgba(0,0,0,.7);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px;
}

.wrapper-logo {
    cursor:pointer;
    font-weight:500;
    width: 100%;
    text-align: center;
}

.link{
    text-align:center;
}
.link-input {
    background-color: transparent;
    color: #0437F2;
    text-decoration: underline;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
}
.link-input:hover {
    color: #191970;
}
textarea:focus, input:focus {
    outline: none;
}

.small-bold {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #878787;
}
